<%= render @articles %>

<footer class="text-center">
  <p>
    That's it. <%= link_to 'Publish a new one', new_article_path %> or subscribe to know first when new articles are published:
  </p>

  <%= render "subscriptions/form", subscription: @new_subscription %>
</footer>
