<article>
  <%= render @article %>

  <section id="comments">
    <header>
      <h3><%= pluralize(@comments.count, 'comment') %></h3>
    </header>

    <%= render @comments  %>

    <div>
      <%= render "comments/form", comment: @comment, article: @article %>
    </div>
  </section>
</article>

