<%= form_for subscription, html: { class: "form-inline" } do |f| %>
  <div class="form-group">
    <%= f.text_field :email, size: 40, class: "form-control", placeholder: "your@email.com" %>
  </div>

  <%= f.submit "Subscribe", class: "btn btn-default" %>
<% end %>